.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  margin: 84px 0 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.container input {
  width: 50%;
  padding: 24px;
  background: #e6e6e6;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.container button {
  width: 50%;
  padding: 24px;
  font-weight: 700;
  background: #ea4c89;
  color: white;
  border-radius: 5px;
  margin: 12px 0 84px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
  font-size: 16px;
}

.container button:hover {
  filter: brightness(0.9);
}
